
.footer{
    background-color: black;
    color: white;
    padding-top: 1px;
    padding-bottom:1px;
}
.footer h4{
    margin-right: 0%;
    margin-left: 35%;
    font-size:large;
}

.footer .color{
    color: red;
}