h2{
    padding-left:60px ;
    padding-top: 20px;
   color: black;
   font-size:3rem;
   font-weight: 500;
}
.purple{
    color: rgb(170, 107, 228);
}
h4{
    padding-left: 60px;
    padding-right: 700px;
    font-size: xx-large;
    font-weight: 500;
}