
.image-container .image-1 , .image-2 , .image-3 , .image-4 , .image-5 , .image-6 , .image-7 , .image-8 {
    padding-left: 60px;
    align-items: flex-start;
    justify-content: center;
    justify-items: center;
    border: 10px solid transparent;
    width: 100px;
    height: 120px;
}
