.image-container .image-1{
    padding-left: 60px;
    align-items: flex-start;
    justify-content: center;
    justify-items: center;
    border: 10px solid transparent;
}
img{
    /* border: 10px solid transparent; */

    border-radius: 10px;
    width: 150px;
}
.image-2 {
    width: 140px;
    border-radius: 10px;
}

.image-3
{
    width: 290px;
}

.image-4{
    width: 290px;
    margin-left: 10px;
}
.image-5{
    margin-left: 10px;
    width: 290px;
}