
.image-container {
    padding-left: 60px;
    align-items: flex-start;
    justify-content: center;
    justify-items: center;
    border: 10px solid transparent;
    /* width: 50px;
    height: 100px; */
}
.image-container .image-1{
    width: 50px;
    height: 100px;
}
.image-container .image-2{
    width: 50px;
    height: 100px;
}
.image-container .image-3{
    width: 80px;
    height: 100px;
}
.image-container .image-4{
    width: 80px;
    height: 100px;
}
.image-container .image-5{
    width: 70px;
    height: 100px;
}
.image-container .image-6{
    width: 60px;
    height: 100px;
}
.image-container .image-7{
    width: 90px;
    height: 100px;
}
.image-container .image-8{
    width: 120px;
    height: 100px;
}